.stage{
.brainLayer{
.brainLayer img{
.brainLayer svg{
    .region-hotspot {
    .bulb {
    .bulb.active{
  animation: twinkle 6s ease-in-out infinite;
    @keyframes twinkle{
      .brainLogo img{
    .stageWrap{
    .brainLogo{
.brainLogoWrap{
.brainLogo img{
.stageWrap{
.brainLogo{
.logoTailAnchor{
